include README.rst CHANGES.rst CONTRIBUTING.rst RELEASES.rst LICENSE Makefile
include requirements-dev.txt
include tox.ini
recursive-include tests *.py
recursive-include tests *.json
recursive-include docs *
prune docs/_build
global-exclude *.pyc
