{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Enter new password' %}{% endblock %}


{% block content %}

{% if validlink %}
    <h1>{% trans 'Enter new password' %}</h1>

    <form method="post">
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change my password' %}">
    </form>
    {% else %}
    <h1>{% trans 'Password reset unsuccessful' %}</h1>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock content %}
