{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<section class="form short">
  {% if validlink %}
    <h1>{% trans "Enter New Password" %}</h1>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">
      {{ form.as_p }}
      <p class="submitRow"><input type="submit" value="{% trans "Change My Password" %}" /></p>
    </form>
  {% else %}
    <h1>{% trans "Password Reset Unsuccessful" %}</h1>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
</section>
{% endblock %}
